* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

body {
    background-image: url(./assets/background.jpg);
    background-position: top center;
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-color: #121214;
}

body * {
    font-family: 'Inter', sans-serif;
    line-height: 160%;
}

main {
    display: grid;
    gap: 24px;

    max-width: 580px;
    width: 90%;
    margin: 32px auto;
}

section {
    padding-top: 4px;
    color: #FFF;
    border-radius: 10px;
    background-image: linear-gradient(90deg, #9572FC 0%, #43E7AD 50.52%, #E2D45C 100%);
}

section div {
    padding: 24px 32px 32px;
    border-radius: 8px;
    background-color: #2A2634;
}

section h2 {
    letter-spacing: -0.47px;
}

section p {
    letter-spacing: -0.18px;
    color: #A1A1AA;
}

section ul {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    margin-top: 24px;
}

.games-list img {
    width: 90px;
    border-radius: 8px;
}

.channel-list img {
    width: 70px;
    border-radius: 50%;
}