* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

body {
    background-image: url(./assets/background.jpg);
    background-position: top center;
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-color: #121214;
}

body * {
    font-family: 'Inter', sans-serif;
    line-height: 160%;
}

header {
    height: calc(120px + 32px);
    padding-top: 32px;
}

header div {
    display: flex;
    width: 120px;
    margin: auto;
    padding: 4px;
    border-radius: 50%;
    background-image: linear-gradient(90deg, #9572FC 0%, #43E7AD 50.52%, #E2D45C 100%);
    transition: transform .3s;
}

header div:hover {
    transform: scale(1.1);
}

header img {
    width: 100%;
    border-radius: 50%;
}

main {
    display: grid;
    gap: 24px;

    max-width: 580px;
    width: 90%;
    margin: 32px auto;
}

section {
    padding-top: 4px;
    color: #FFF;
    border-radius: 10px;
    background-image: linear-gradient(90deg, #9572FC 0%, #43E7AD 50.52%, #E2D45C 100%);
}

section div {
    padding: 24px 32px 32px;
    border-radius: 8px;
    background-color: #2A2634;
}

section h2 {
    letter-spacing: -0.47px;
}

section p {
    letter-spacing: -0.18px;
    color: #A1A1AA;
}

section ul {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    margin-top: 24px;
}

section ul li {
    transition: transform .3s;
}

section ul li:hover {
    transform: scale(1.1);
}

.games-list img {
    width: 90px;
    border-radius: 8px;
}

.channel-list img {
    width: 70px;
    border: 1px solid #443E54;
    border-radius: 50%;
}

/*Animation*/

header div {
    animation: fromTop .7s .4s backwards;
}

@keyframes fromTop {
    from {
        opacity: 0;
        transform: translateY(-30px)
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}